{erl_opts, [debug_info]}.

{deps,
 [{telemetry, "~> 1.0"}, {cowlib, {git, "https://github.com/tanguilp/cowlib.git"}}]}.

{minimum_otp_vsn, "24.0"}.

{plugins, [rebar3_format, rebar3_ex_doc]}.

{ex_doc,
 [{extras, ["README.md"]},
  {main, "README.md"},
  {source_url, "https://github.com/tanguilp/http_cache"}]}.
